@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-size: 18px;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
  --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Outifit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: var(--Very-dark-blue-mainBG);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 650px;
  width: 350px;
  background-color: var(--Very-dark-blue-cardBG);
  border-radius: 12px;
}

.img-equilibrium {
  height: 320px;
  width: 300px;
  border-radius: 12px;
}

.image{
    border-radius: 10px;
}
.image{
    display: block;
    width: 100%;
    height: auto;
    transition: 0.3s ease;
}

.image:hover {
    opacity: 1;
}



.image-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .view-icon {
    width: 40px;
    height: 40px;
  }
  

.titleImg {
  color: var(--White);
}

.titleImg:hover {
  cursor: pointer;
  color: var(--Cyan);
}

.box-img {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.description {
  color: var(--Soft-blue);
  padding-right: 20px;
  padding-left: 20px;
  width: 300px;
}

.ethereum {
  display: flex;
  gap: 5px;
  color: var(--Cyan);
  align-items: center;
  justify-content: center;
}

.info-time {
  display: flex;
  gap: 5px;
  color: var(--Soft-blue);
  align-items: center;
  justify-content: center;
}

.ethereum-section {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.hr {
  border-color: var(--Soft-blue);
  width: 300px;
}

.creator-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 300px;
  gap: 10px;
}

.creator-avatar {
  height: 40px;
  width: 40px;
  border: solid var(--White) 1.5px;
  border-radius: 50%;
}

.creation-of {
  color: var(--Soft-blue);
}

.creator-name {
  color: var(--White);
}

.creator-name:hover {
  cursor: pointer;
  color: var(--Cyan);
}

.container-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 705;
}